html {
    border: none;
    margin: none;
}

body {
    font-family: 'PT Mono', sans-serif;
    color: #77faaa;
    background-color: #000000;
}

.content {
    padding-top: 100px;
    text-align: center;
}